In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import copy

In [2]:
data1 = pd.read_csv("data1.txt", delimiter=" ", index_col="lp.")
DL = 1 #niedokładność pomiaru - 1mm
Dx_p = DL
Dx_l = DL
d1 = 1/1000 #stała siatki dyfrakcyjnej 1/mm
data1.head()

      L  x_p  x_l
lp.
1    53   47   47
2    65   58   58
3    71   63   63
4    81   71   71
5    90   80   79

In [3]:
x = (data1['x_p'] + data1['x_l']) / 2 #średnia odległość
data1['x'] = x
data1.head()

      L  x_p  x_l     x
lp.
1    53   47   47  47.0
2    65   58   58  58.0
3    71   63   63  63.0
4    81   71   71  71.0
5    90   80   79  79.5

In [4]:
# def u_Ax(x_p,x_l,x):
#     s = 0
#     for xp,xl in zip(data1['x_p'],data1['x_l']):
#         s += 

def u_B(Deltas):
    uB = 0
    for D in Deltas:
        uB += D**2 / 3.
    uB = uB ** (1./2)
    return uB

In [5]:
uL = u_B([DL])
ux_p = u_B([Dx_p])
ux_l = u_B([Dx_l])
# data1['uL'] = uL
# data1['ux_p'] = ux_p
# data1['ux_l'] = ux_l
# data1[["L",'uL','x_p','ux_p','x_l','ux_l','x']]

In [6]:
u_Ax = (((data1['x_l']-data1['x'])**2 + (data1['x_p']-data1['x'])**2) / (2*1))**(1./2)
u_Bx = ux_p
ux = (u_Ax**2 + u_Bx**2)**(1./2)
data1['ux'] = ux
data1

       L  x_p  x_l      x        ux
lp.
1     53   47   47   47.0  0.577350
2     65   58   58   58.0  0.577350
3     71   63   63   63.0  0.577350
4     81   71   71   71.0  0.577350
5     90   80   79   79.5  0.763763
6     97   86   85   85.5  0.763763
7    107   94   94   94.0  0.577350
8    114  100  100  100.0  0.577350
9    123  108  107  107.5  0.763763
10   132  116  115  115.5  0.763763
11   141  124  123  123.5  0.763763
12   152  133  133  133.0  0.577350
13   166  145  145  145.0  0.577350
14   180  158  157  157.5  0.763763
15   192  167  168  167.5  0.763763
16   205  179  180  179.5  0.763763
17   219  190  191  190.5  0.763763
18   233  204  203  203.5  0.763763
19   245  214  214  214.0  0.577350
20   262  229  228  228.5  0.763763
21   267  233  234  233.5  0.763763
22   273  239  238  238.5  0.763763
23   280  245  245  245.0  0.577350
24   286  250  249  249.5  0.763763

In [7]:
sin_theta = data1['x'] / (data1['x']**2 + data1['L']**2)**(1./2)
data1['sin_theta'] = sin_theta

u_Csin_theta = ((data1['L'] * data1['x'] / (data1['L']**2 + data1['x']**2)**(3./2))**2 * uL**2 +
                + (data1['L']**2 / (data1['L']**2 + data1['x']**2)**(3./2))**2 * data1['ux']**2 )**(1./2)
data1['u_Csin_theta'] = u_Csin_theta

In [8]:
lambda_i = d1 * data1['sin_theta'] / 1
data1['lambda_i'] = lambda_i
lambda_mean = data1['lambda_i'].mean()

def u_A(X):
    m = X.mean()
    s = 0
    l = X.size
    for x in X:
        s += (x-m)**2
    return (s/l/(l-1))**(1./2)


#print(data1['lambda_i'].mean())
u_Alambda = u_A(data1['lambda_i'])

In [9]:
def round_up(n, decimals=0): 
    multiplier = 10 ** decimals 
    return math.ceil(n * multiplier) / multiplier

wynik1 = data1.copy()

wynik1['ux'] = data1['ux'].map(lambda x : round_up(x,2))
wynik1['u_Csin_theta'] = data1['u_Csin_theta'].map(lambda x : round_up(x,4))
wynik1['sin_theta'] = data1['sin_theta'].map(lambda x : round_up(x,4))

wynik1.head()

      L  x_p  x_l     x    ux  sin_theta  u_Csin_theta  lambda_i
lp.
1    53   47   47  47.0  0.58     0.6635        0.0061  0.000663
2    65   58   58  58.0  0.58     0.6658        0.0050  0.000666
3    71   63   63  63.0  0.58     0.6638        0.0046  0.000664
4    81   71   71  71.0  0.58     0.6592        0.0041  0.000659
5    90   80   79  79.5  0.77     0.6621        0.0043  0.000662

In [10]:
data2 = pd.read_csv("data2.txt", delimiter=" ", index_col="lp.")
DL = 1 #niedokładność pomiaru - 1mm
Dx_p = DL
Dx_l = DL
lambda2 = lambda_mean
data2.head()

       L  x_p  x_l
lp.
1     56   20   21
2     70   25   25
3     93   32   33
4    114   40   41
5    148   52   53

In [11]:
x = (data2['x_p'] + data2['x_l']) / 2 #średnia odległość
data2['x'] = x
data2.head()

def u_B(Deltas):
    uB = 0
    for D in Deltas:
        uB += D**2 / 3.
    uB = uB ** (1./2)
    return uB 

uL = u_B([DL])
ux_p = u_B([Dx_p])
ux_l = u_B([Dx_l])

u_Ax = (((data2['x_l']-data2['x'])**2 + (data2['x_p']-data2['x'])**2) / (2*1))**(1./2)
u_Bx = ux_p
ux = (u_Ax**2 + u_Bx**2)**(1./2)
data2['ux'] = ux


sin_theta = data2['x'] / (data2['x']**2 + data2['L']**2)**(1./2)
data2['sin_theta'] = sin_theta

u_Csin_theta = ((data2['L'] * data2['x'] / (data2['L']**2 + data2['x']**2)**(3./2))**2 * uL**2 +
                + (data2['L']**2 / (data2['L']**2 + data2['x']**2)**(3./2))**2 * data2['ux']**2 )**(1./2)
data2['u_Csin_theta'] = u_Csin_theta

data2.head()

       L  x_p  x_l     x        ux  sin_theta  u_Csin_theta
lp.
1     56   20   21  20.5  0.763763   0.343762      0.011718
2     70   25   25  25.0  0.577350   0.336336      0.007315
3     93   32   33  32.5  0.763763   0.329898      0.007146
4    114   40   41  40.5  0.763763   0.334765      0.005804
5    148   52   53  52.5  0.763763   0.334319      0.004473

In [19]:
sin_mean = data2['sin_theta'].mean()
u_sin_mean = u_A(data2['sin_theta'])
d2 = 1 * lambda2 / sin_mean

u_lambda2 = u_Alambda
u_Cd2 = ((1/sin_mean)**2 * u_lambda2**2 + (lambda2/sin_mean**2)**2 * u_sin_mean**2)**(1./2)

print(sin_mean, u_sin_mean, d2, u_Cd2, 1/d2)

0.3323477741366908 0.0003545845497309904 0.0019837036128633233 2.5550016575915065e-06 504.107566027254

In [31]:
def round_up(n, decimals=0): 
    multiplier = 10 ** decimals 
    return math.ceil(n * multiplier) / multiplier

def how_many_digits(u):
    i = 0
    while (u <= 10):
        u *= 10
        i += 1
    while (100 < u):
        u *= 0.1
        i -= 1
    return i

def roud2significant(X1,X2):
    try:
        Y1 = X1.copy()
        Y2 = X2.copy()
        for i in range(1,len(Y1)+1):
            d = how_many_digits(Y2[i])
            Y1[i] = round(Y1[i],d)
            Y2[i] = round_up(Y2[i],d)
        return Y1, Y2
    except:
        Y1 = X1.copy()
        y2 = copy.deepcopy(X2)
        for i in range(1,len(Y1)+1):
            d = how_many_digits(y2)
            Y1[i] = round(Y1[i],d)
        y2 = round_up(y2,d)
        return Y1

wynik1 = data1.copy()
wynik2 = data2.copy()


wynik1['lambda_i'] = roud2significant(data1['lambda_i'],u_Alambda)
wynik1['lambda_i'] *= 1e6

wynik1['x'], wynik1['ux'] = roud2significant(data1['x'],data1['ux'])
wynik1['sin_theta'], wynik1['u_Csin_theta'] = roud2significant(data1['sin_theta'],data1['u_Csin_theta'])

wynik2['x'], wynik2['ux'] = roud2significant(data2['x'],data2['ux'])
wynik2['sin_theta'], wynik2['u_Csin_theta'] = roud2significant(data2['sin_theta'],data2['u_Csin_theta'])


data1['lambda_i'][1]
u_Alambda

4.757055892645682e-07

In [14]:
print(wynik1.to_latex(index=True, longtable=True, bold_rows=True, caption="napisik", label="fig:first"))
print(wynik2.to_latex(index=True, longtable=True, bold_rows=True, caption="napisik", label="fig:second"))

\begin{longtable}{lrrrrrrrr}
\caption{napisik}\label{fig:first}\\
\toprule
{} &    L &  x\_p &  x\_l &      x &    ux &  sin\_theta &  u\_Csin\_theta &  lambda\_i \\
\textbf{lp.} &      &      &      &        &       &            &               &           \\
\midrule
\endhead
\midrule
\multicolumn{9}{r}{{Continued on next page}} \\
\midrule
\endfoot

\bottomrule
\endlastfoot
\textbf{1  } &   53 &   47 &   47 &   47.0 &  0.58 &     0.6635 &        0.0061 &    663.49 \\
\textbf{2  } &   65 &   58 &   58 &   58.0 &  0.58 &     0.6658 &        0.0050 &    665.79 \\
\textbf{3  } &   71 &   63 &   63 &   63.0 &  0.58 &     0.6637 &        0.0046 &    663.71 \\
\textbf{4  } &   81 &   71 &   71 &   71.0 &  0.58 &     0.6592 &        0.0041 &    659.16 \\
\textbf{5  } &   90 &   80 &   79 &   79.5 &  0.77 &     0.6620 &        0.0043 &    662.03 \\
\textbf{6  } &   97 &   86 &   85 &   85.5 &  0.77 &     0.6612 &        0.0040 &    661.24 \\
\textbf{7  } &  107 &   94 &   94 &   94.0 &  0.58 &     0.6600 &        0.0031 &    659.99 \\
\textbf{8  } &  114 &  100 &  100 &  100.0 &  0.58 &     0.6594 &        0.0029 &    659.44 \\
\textbf{9  } &  123 &  108 &  107 &  107.5 &  0.77 &     0.6581 &        0.0032 &    658.07 \\
\textbf{10 } &  132 &  116 &  115 &  115.5 &  0.77 &     0.6585 &        0.0030 &    658.50 \\
\textbf{11 } &  141 &  124 &  123 &  123.5 &  0.77 &     0.6589 &        0.0028 &    658.88 \\
\textbf{12 } &  152 &  133 &  133 &  133.0 &  0.58 &     0.6585 &        0.0022 &    658.50 \\
\textbf{13 } &  166 &  145 &  145 &  145.0 &  0.58 &     0.6579 &        0.0020 &    657.86 \\
\textbf{14 } &  180 &  158 &  157 &  157.5 &  0.77 &     0.6585 &        0.0022 &    658.50 \\
\textbf{15 } &  192 &  167 &  168 &  167.5 &  0.77 &     0.6574 &        0.0021 &    657.39 \\
\textbf{16 } &  205 &  179 &  180 &  179.5 &  0.77 &     0.6588 &        0.0020 &    658.76 \\
\textbf{17 } &  219 &  190 &  191 &  190.5 &  0.77 &     0.6563 &        0.0018 &    656.31 \\
\textbf{18 } &  233 &  204 &  203 &  203.5 &  0.77 &     0.6578 &        0.0017 &    657.82 \\
\textbf{19 } &  245 &  214 &  214 &  214.0 &  0.58 &     0.6579 &        0.0014 &    657.85 \\
\textbf{20 } &  262 &  229 &  228 &  228.5 &  0.77 &     0.6573 &        0.0015 &    657.28 \\
\textbf{21 } &  267 &  233 &  234 &  233.5 &  0.77 &     0.6583 &        0.0015 &    658.30 \\
\textbf{22 } &  273 &  239 &  238 &  238.5 &  0.77 &     0.6579 &        0.0015 &    657.92 \\
\textbf{23 } &  280 &  245 &  245 &  245.0 &  0.58 &     0.6585 &        0.0012 &    658.50 \\
\textbf{24 } &  286 &  250 &  249 &  249.5 &  0.77 &     0.6574 &        0.0014 &    657.38 \\
\end{longtable}

\begin{longtable}{lrrrrrrr}
\caption{napisik}\label{fig:second}\\
\toprule
{} &    L &  x\_p &  x\_l &      x &    ux &  sin\_theta &  u\_Csin\_theta \\
\textbf{lp.} &      &      &      &        &       &            &               \\
\midrule
\endhead
\midrule
\multicolumn{8}{r}{{Continued on next page}} \\
\midrule
\endfoot

\bottomrule
\endlastfoot
\textbf{1  } &   56 &   20 &   21 &   20.5 &  0.77 &    0.34400 &       0.01200 \\
\textbf{2  } &   70 &   25 &   25 &   25.0 &  0.58 &    0.33630 &       0.00740 \\
\textbf{3  } &   93 &   32 &   33 &   32.5 &  0.77 &    0.32990 &       0.00720 \\
\textbf{4  } &  114 &   40 &   41 &   40.5 &  0.77 &    0.33480 &       0.00590 \\
\textbf{5  } &  148 &   52 &   53 &   52.5 &  0.77 &    0.33430 &       0.00450 \\
\textbf{6  } &  175 &   61 &   62 &   61.5 &  0.77 &    0.33160 &       0.00380 \\
\textbf{7  } &  200 &   70 &   71 &   70.5 &  0.77 &    0.33250 &       0.00340 \\
\textbf{8  } &  225 &   79 &   79 &   79.0 &  0.58 &    0.33130 &       0.00230 \\
\textbf{9  } &  250 &   88 &   88 &   88.0 &  0.58 &    0.33200 &       0.00210 \\
\textbf{10 } &  275 &   96 &   97 &   96.5 &  0.77 &    0.33110 &       0.00250 \\
\textbf{11 } &  290 &  102 &  102 &  102.0 &  0.58 &    0.33180 &       0.00180 \\
\textbf{12 } &  310 &  109 &  109 &  109.0 &  0.58 &    0.33170 &       0.00170 \\
\textbf{13 } &  325 &  114 &  114 &  114.0 &  0.58 &    0.33100 &       0.00160 \\
\textbf{14 } &  340 &  120 &  120 &  120.0 &  0.58 &    0.33280 &       0.00160 \\
\textbf{15 } &  355 &  125 &  125 &  125.0 &  0.58 &    0.33210 &       0.00150 \\
\textbf{16 } &  370 &  129 &  130 &  129.5 &  0.77 &    0.33040 &       0.00180 \\
\textbf{17 } &  385 &  135 &  136 &  135.5 &  0.77 &    0.33200 &       0.00180 \\
\textbf{18 } &  400 &  142 &  143 &  142.5 &  0.77 &    0.33560 &       0.00170 \\
\textbf{19 } &  420 &  147 &  147 &  147.0 &  0.58 &    0.33040 &       0.00130 \\
\textbf{20 } &  440 &  154 &  155 &  154.5 &  0.77 &    0.33130 &       0.00160 \\
\textbf{21 } &  460 &  161 &  162 &  161.5 &  0.77 &    0.33130 &       0.00150 \\
\textbf{22 } &  480 &  168 &  169 &  168.5 &  0.77 &    0.33120 &       0.00140 \\
\textbf{23 } &  500 &  176 &  176 &  176.0 &  0.58 &    0.33200 &       0.00110 \\
\textbf{24 } &  520 &  183 &  183 &  183.0 &  0.58 &    0.33197 &       0.00099 \\
\textbf{25 } &  535 &  188 &  188 &  188.0 &  0.58 &    0.33153 &       0.00097 \\
\textbf{26 } &  545 &  192 &  192 &  192.0 &  0.58 &    0.33228 &       0.00095 \\
\textbf{27 } &  560 &  197 &  197 &  197.0 &  0.58 &    0.33185 &       0.00092 \\
\textbf{28 } &  570 &  201 &  201 &  201.0 &  0.58 &    0.33256 &       0.00091 \\
\textbf{29 } &  585 &  206 &  206 &  206.0 &  0.58 &    0.33215 &       0.00088 \\
\textbf{30 } &  600 &  211 &  211 &  211.0 &  0.58 &    0.33175 &       0.00086 \\
\textbf{31 } &  615 &  217 &  217 &  217.0 &  0.58 &    0.33274 &       0.00084 \\
\textbf{32 } &  636 &  224 &  223 &  223.5 &  0.77 &    0.33150 &       0.00110 \\
\textbf{33 } &  645 &  227 &  227 &  227.0 &  0.58 &    0.33198 &       0.00080 \\
\textbf{34 } &  655 &  231 &  230 &  230.5 &  0.77 &    0.33200 &       0.00110 \\
\textbf{35 } &  665 &  235 &  234 &  234.5 &  0.77 &    0.33256 &       0.00100 \\
\textbf{36 } &  675 &  238 &  237 &  237.5 &  0.77 &    0.33191 &       0.00099 \\
\textbf{37 } &  686 &  241 &  241 &  241.0 &  0.58 &    0.33145 &       0.00075 \\
\textbf{38 } &  695 &  245 &  244 &  244.5 &  0.77 &    0.33186 &       0.00096 \\
\textbf{39 } &  705 &  248 &  247 &  247.5 &  0.77 &    0.33124 &       0.00095 \\
\textbf{40 } &  710 &  250 &  249 &  249.5 &  0.77 &    0.33153 &       0.00094 \\
\end{longtable}

In [44]:
ciag = ''
i = 1
sep = 2
for x in data2['sin_theta']:
    ciag += "(" + str(x)[:10] + " - " + str(sin_mean)[:10] + ")^2 + "
    if (i%sep == 0):
        ciag += '\\\\\n & + '
    i += 1
print(ciag)
lambda_mean

(0.34376188 - 0.33234777)^2 + (0.33633639 - 0.33234777)^2 + \\
 & + (0.32989823 - 0.33234777)^2 + (0.33476505 - 0.33234777)^2 + \\
 & + (0.33431862 - 0.33234777)^2 + (0.33155084 - 0.33234777)^2 + \\
 & + (0.33245009 - 0.33234777)^2 + (0.33128422 - 0.33234777)^2 + \\
 & + (0.33203055 - 0.33234777)^2 + (0.33111451 - 0.33234777)^2 + \\
 & + (0.33179900 - 0.33234777)^2 + (0.33170561 - 0.33234777)^2 + \\
 & + (0.33099700 - 0.33234777)^2 + (0.33282011 - 0.33234777)^2 + \\
 & + (0.33212511 - 0.33234777)^2 + (0.33035042 - 0.33234777)^2 + \\
 & + (0.33198695 - 0.33234777)^2 + (0.33559035 - 0.33234777)^2 + \\
 & + (0.33035042 - 0.33234777)^2 + (0.33130543 - 0.33234777)^2 + \\
 & + (0.33126393 - 0.33234777)^2 + (0.33122588 - 0.33234777)^2 + \\
 & + (0.33203055 - 0.33234777)^2 + (0.33196599 - 0.33234777)^2 + \\
 & + (0.33152841 - 0.33234777)^2 + (0.33227691 - 0.33234777)^2 + \\
 & + (0.33185069 - 0.33234777)^2 + (0.33256047 - 0.33234777)^2 + \\
 & + (0.33214532 - 0.33234777)^2 + (0.33175075 - 0.33234777)^2 + \\
 & + (0.33273990 - 0.33234777)^2 + (0.33153952 - 0.33234777)^2 + \\
 & + (0.33197850 - 0.33234777)^2 + (0.33195367 - 0.33234777)^2 + \\
 & + (0.33256047 - 0.33234777)^2 + (0.33190621 - 0.33234777)^2 + \\
 & + (0.33145290 - 0.33234777)^2 + (0.33186147 - 0.33234777)^2 + \\
 & + (0.33124450 - 0.33234777)^2 + (0.33153394 - 0.33234777)^2 + \\
 & +

0.0006592794802820373

In [46]:
ciag = ' \overline{\sin{\\theta}} = \\frac{1}{n} \left['
i = 1
sep = 3
for x in data2['sin_theta']:
    ciag += str(x) + " + "
    if (i%sep == 0):
        ciag += '\\\\\n & + '
    i += 1
print(ciag)
u_Cd2

 \overline{\sin{\theta}} = \frac{1}{n} \left[0.3437618826832612 + 0.33633639699815626 + 0.32989823915976896 + \\
 & + 0.33476505235270637 + 0.33431862032071724 + 0.3315508413075195 + \\
 & + 0.3324500985536139 + 0.3312842209399463 + 0.33203055782167573 + \\
 & + 0.3311145120998034 + 0.3317990026756939 + 0.33170561669262244 + \\
 & + 0.330997002537216 + 0.3328201177351375 + 0.3321251194239113 + \\
 & + 0.33035042472810605 + 0.33198695786684845 + 0.33559035753784233 + \\
 & + 0.3303504247281061 + 0.33130543228482096 + 0.3312639313574486 + \\
 & + 0.33122588715164636 + 0.33203055782167573 + 0.3319659955926621 + \\
 & + 0.33152841835380226 + 0.3322769175664142 + 0.3318506942936949 + \\
 & + 0.33256047122754245 + 0.3321453235961692 + 0.3317507544688749 + \\
 & + 0.3327399098177863 + 0.331539524132235 + 0.3319785080170442 + \\
 & + 0.33195367402642084 + 0.3325604712275424 + 0.3319062115909338 + \\
 & + 0.33145290835811286 + 0.3318614784990002 + 0.3312445047308071 + \\
 & + 0.3315339451903434 +

2.5550016575915065e-06

In [47]:
X = data1['u_Csin_theta']
Y = wynik1['u_Csin_theta']
for i in range(1,len(X)+1):
    print(X[i], Y[i])

1/d2

0.006097960196701906 0.0061
0.004945021412218431 0.005
0.004549597015811702 0.0046
0.0040308026033752525 0.0041
0.004295851969571303 0.0043
0.003994434603421478 0.004
0.003045426610958341 0.0031
0.0028621469250138 0.0029
0.003176962967859063 0.0032
0.0029569275809251884 0.003
0.002765393921711581 0.0028
0.0021512818600451823 0.0022
0.001972790693593748 0.002
0.002168413559345138 0.0022
0.002038925477842154 0.0021
0.0019026510999384776 0.002
0.0017927136786169504 0.0018
0.0016782425085002124 0.0017
0.0013366989156354439 0.0014
0.0014946141564065197 0.0015
0.0014626314830427636 0.0015
0.0014319615720203452 0.0015
0.0011678387240245274 0.0012
0.0013688175168750166 0.0014

504.107566027254